<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                margin: 0;
            }

            .main {
                padding: 0;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            .column1, .column2 {
                display: flex;
                flex-direction: column;
                overflow-y: auto;
                height: 100vh;
            }

            .cat-card {
                max-width: 100%;
            }

            .category {
                padding: 5px;
                border-radius: 10px;
                margin-top: 2px;
                margin-bottom: 3px;
            }

            .tiles {
                padding: 0 18px;
                overflow: hidden;
                background-color: gray;
                max-height: 0;
                transition: max-height 0.6s ease-out;
            }

            .tile {
                padding: 3px;
                background-color: lightgray;
                margin-top: 2px;
                margin-bottom: 3px;
            }
        </style>
        <script>
            function componentToHex(c) {
                var hex = c.toString(16);
                return hex.length == 1 ? "0" + hex : hex;
            }

            function rgbToHex(r, g, b) {
                return "#" + componentToHex(r) + componentToHex(g) + componentToHex(b);
            }

            function dragStartHandler(e) {
                e.dataTransfer.setData("text", e.target.id);
            }

            function dragOverHandler(e) {
                e.preventDefault();
            }

            function dropHandler(e) {
                e.preventDefault();
                const data = e.dataTransfer.getData("text");
                if (document.getElementById(data).classList.contains("tile")) {
                    if (e.target.classList.contains("tiles")) {
                        e.target.insertBefore(document.getElementById(data), e.target.children[0]);
                        e.target.style.maxHeight = e.target.scrollHeight + "px";
                    } else if (e.target.classList.contains("tile")) {
                        if (e.target.parentNode === document.getElementById(data).parentNode) {
                            const oldIndex = Array.prototype.indexOf.call(e.target.parentNode.children, e.target);
                            const newIndex = Array.prototype.indexOf.call(e.target.parentNode.children, document.getElementById(data));
                            if (oldIndex > newIndex) {
                                // Moving down
                                e.target.parentNode.insertBefore(e.target.parentNode.children[oldIndex], e.target.parentNode.children[newIndex]);
                            } else if (oldIndex < newIndex) {
                                // Moving up
                                e.target.parentNode.insertBefore(e.target.parentNode.children[newIndex], e.target.parentNode.children[oldIndex]);
                            }
                        } else {
                            e.target.parentNode.insertBefore(document.getElementById(data), e.target);
                        }
                        e.target.parentNode.style.maxHeight = e.target.parentNode.scrollHeight + "px";
                    }
                } else if (document.getElementById(data).classList.contains("category")) {
                    if (e.target.classList.contains("tiles")) {
                        e.target.insertBefore(document.getElementById(data), e.target.children[0]);
                        e.target.style.maxHeight = e.target.scrollHeight + "px";
                    } else if (e.target.classList.contains("tile")) {
                        if (e.target.parentNode === document.getElementById(data).parentNode) {
                            const oldIndex = Array.prototype.indexOf.call(e.target.parentNode.children, e.target);
                            const newIndex = Array.prototype.indexOf.call(e.target.parentNode.children, document.getElementById(data));
                            if (oldIndex > newIndex) {
                                // Moving down
                                e.target.parentNode.insertBefore(e.target.parentNode.children[oldIndex], e.target.parentNode.children[newIndex]);
                            } else if (oldIndex < newIndex) {
                                // Moving up
                                e.target.parentNode.insertBefore(e.target.parentNode.children[newIndex], e.target.parentNode.children[oldIndex]);
                            }
                        } else {
                            e.target.parentNode.insertBefore(document.getElementById(data), e.target);
                        }
                        e.target.parentNode.style.maxHeight = e.target.parentNode.scrollHeight + "px";
                    }
                }
            }

            /* function addData() {
                // Mock return data from API call
                var data = [{title: "song 1", album: "album 1", artist: "artist 1"}, {title: "song 2", album: "album 2", artist: "artist 2"}]
                
                for (let i = 0; i < data.length; i++) {
                
                    var columnTracks = document.getElementById("tracks");
                    var node = document.createElement("div");
                    var songTitle = document.createTextNode(data[i].title);
                    var songAlbum = document.createTextNode(data[i].album);
                    var songArtist = document.createTextNode(data[i].artist);
                    
                    node.setAttribute("ondragstart", "drag(event)");
                    node.setAttribute("ondrop", "drop(ev)");
                    node.setAttribute("draggable", "true");
                    node.setAttribute("id", `${data[i].title}-${data[i].artist}`)
                    node.class="item";
                    node.appendChild(songTitle);
                    node.appendChild(songAlbum);
                    node.appendChild(songArtist);
                    columnTracks.appendChild(node);
                }} */
        </script>
    </head>
    <body>
        <div class="main">
            <!-- Current Init.txt -->
            <div class="column" id="column1"></div>
            <div class="column" id="control"></div>
            <div class="column" id="column2"></div>
        </div>
    </body>
    <script>
        function populate() {
            (
                async function() {
                    const input_init = await fetch("/cool").then((res) => res.json());

                    for (i = 0; i < input_init.length; i++) {
                        var category = document.getElementById("c-"+input_init[i].category.name.toLowerCase().replaceAll(" ", "-"));
                        var tiles = document.getElementById("tiles-"+input_init[i].category.name.toLowerCase().replaceAll(" ", "-"));
                        var catCard = category.parentElement;

                        if ((category == null) || (tiles == null) ) {
                            catCard = document.createElement("div");
                            catCard.classList.add("cat-card");

                            category = document.createElement("div");
                            category.classList.add("category");
                            category.id = "c-" + input_init[i].category.name.toLowerCase().replaceAll(" ", "-");
                            category.style.backgroundColor = rgbToHex(...input_init[i].category.color);
                            category.textContent = input_init[i].category.name;

                            tiles = document.createElement("div");
                            tiles.classList.add("tiles");
                            tiles.id = "tiles-"+input_init[i].category.name.toLowerCase().replaceAll(" ", "-");
                            tiles.addEventListener("drop", (e, ev) => dropHandler(e));
                            tiles.addEventListener("dragover", (e, ev) => dragOverHandler(e));

                            catCard.appendChild(category);
                            catCard.appendChild(tiles);
                        }

                        const tile = document.createElement("div");
                        tile.classList.add("tile");
                        tile.id = "col1-cat"+input_init[i].category.name.toLowerCase().replaceAll(" ", "-")+"-tile-"+input_init[i].name.toLowerCase().replaceAll(" ", "-");
                        tile.addEventListener("dragstart", (e, ev) => dragStartHandler(e));
                        tile.draggable = true;
                        tile.textContent = input_init[i].name;

                        const tile_icon = document.createElement("img");
                        
                        tile_icon.width = "16";

                        tile_icon.src = "/preview/" + input_init[i].category.name + "/" + input_init[i].name + "?sep=1";

                        tile.insertBefore(tile_icon, tile.childNodes[0]);

                        tiles.appendChild(tile);

                        document.getElementById("column1").appendChild(catCard);
                    }

                    var coll = document.getElementsByClassName("category");
                    var i;

                    for (i = 0; i < coll.length; i++) {
                        coll[i].addEventListener("click", function() {
                            this.classList.toggle("active");
                            var content = this.nextElementSibling;
                            if (content.style.maxHeight) {
                                content.style.maxHeight = null;
                            } else {
                                content.style.maxHeight = content.scrollHeight + "px";
                            }
                        });
                    }
                }
            )();
        }

        populate();
    </script>
</html>